/*RESET CSS*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Genshin'; 
  src: url('../font/zh-cn.ttf') format('truetype');
}


/*============================================================================*/
/*BODY*/
body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 80%;
margin: 0 auto 0 auto;
font-family: 'Genshin', sans-serif;
}

html {
background-image: url('https://raw.githubusercontent.com/LeoTellier62/alea-genshin/refs/heads/main/img/background.webp');
background-size: cover;
background-attachment: fixed;
}

/*============================================================================*/
/*HEADER*/
header {
color: white;
padding: 20px;
}

#banner {
  height: 150px;
}

/*============================================================================*/
/*MAIN*/

main {
display: flex;
flex-direction: column;
overflow-y: auto;
padding-top: 30px;
width: 100%;
}

#list-charac {
display: flex;
width: 100%;
flex-wrap: wrap;


} 


/*============================================================================*/
/*Personnages*/
#player {
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
align-items: center;
flex-direction: column;
width: 40%;
min-width: 500px;
}


.player-container {
display: flex;
align-items: center;
justify-content: center;
margin: 10px 0px 10px 0px;
width: 50%;
min-width: 200px;
filter: brightness(0.7);
}

.duo {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

/*============================================================================*/
/*Card de perso*/
.user-card {
  position: relative;
  height: 100%;
  width: 80%;
  overflow: hidden;
  border-radius: 150px;
}

.user-photo {
  position: relative; 
  width: 100%;
  height: 100%;
  overflow: visible; 
}

.user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; 
}

.user-photo .user-nom {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  z-index: 2;
}

.user-photo .extra-img {
  position: absolute;
  bottom: -1px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px; 
  height: auto;
  z-index: 3; 
}

.user-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  gap: 20px;
}

.user-card:hover .user-photo img,
.user-card:hover .user-photo .user-nom {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.user-card:hover .user-info {
  opacity: 1;
  visibility: visible;
}

/*============================================================================*/
/*BOUTON VS*/
#big-vs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 20%;
  min-width: 200px;
  padding: 20px;
}

#big-vs img {
  max-width: 200px;
  max-height: 200px;
}

#btn-play {
  background-color: #000000ad;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #000000ad;
  border: none;
  cursor: pointer;
}

#btn-play:hover {
  background-color: #000000ad;
  box-shadow: 0 0 20px 10px #999999ad;
}

#btn-play:disabled {
  background-color: #999999ad;;
  cursor: not-allowed;
}

#btn-play:disabled:hover {
  box-shadow: 0 0 20px 10px #000000ad;
}

/*============================================================================*/
/*BOSS*/
#boss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#boss-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  background-color: #000000ad;
  box-shadow: 0 0 20px 10px #000000ad;
  overflow: hidden; /* Assure que les débordements soient masqués */
  min-width: 300px;
}

#boss-card .user-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#boss-card .user-photo img {
  width: 95%; 
  height: auto; 
  object-fit: contain;
  

  /* Ajoute le dégradé pour l'effet fade */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 90%, transparent);
  mask-repeat: no-repeat;
  
  /* Masquage pour rendre les bords estompés */
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


#boss-card .user-nom{
  background-color: #000000ad;
  box-shadow: 0 0 20px 10px #000000ad;
}


/*============================================================================*/
/*Boutons sous Boss*/
#container-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#container-btn button {
  background-color: #000000ad;
  color:white;
  padding: 10px 20px 10px 20px;
  margin: 40px 5px 20px 5px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
}

#btn-victoire {
  box-shadow: 0 0 30px 5px green;
  border: 1px solid green;
}

#btn-victoire:hover {
  background-color: green;
}

#btn-defaite {
  box-shadow: 0 0 30px 5px red;
  border: 1px solid red;
}

#btn-defaite:hover {
  background-color: red;
}

#btn-abandon {
  box-shadow: 0 0 30px 5px purple;
  border: 1px solid purple;
}

#btn-abandon:hover {
  background-color: purple;
}

/*============================================================================*/
/*ELEMENTS*/
/*BASIQUE*/
.Basique {
  box-shadow: 0 0 30px 5px #c8a079;
}

.Basique .user-nom {
  box-shadow: 0 0 30px #c8a079;
}

/*PYRO*/
.Pyro {
  box-shadow: 0 0 30px 5px #EC4923;
}

.Pyro .user-nom {
  box-shadow: 0 0 30px #EC4923;
}

/*HYDRO*/
.Hydro {
  box-shadow: 0 0 30px 5px #00BFFF;
}

.Hydro .user-nom {
  box-shadow: 0 0 30px #00BFFF;
}

/*ANEMO*/
.Anemo {
  box-shadow: 0 0 30px 5px #359697;
}

.Anemo .user-nom {
  box-shadow: 0 0 30px #359697;
}

/*ELECTRO*/
.Electro {
  box-shadow: 0 0 30px 5px #945dc4;
}

.Electro .user-nom {
  box-shadow: 0 0 30px #945dc4;
}

/*DENDRO*/
.Dendro {
  box-shadow: 0 0 30px 5px #608a00;
}

.Dendro .user-nom {
  box-shadow: 0 0 30px #608a00;
}

/*CRYO*/
.Cryo {
  box-shadow: 0 0 30px 5px #4682B4;
}

.Dendro .user-nom {
  box-shadow: 0 0 30px #4682B4;
}

/*GEO*/
.Geo {
  box-shadow: 0 0 30px 5px #debd6c;
}

.Geo .user-nom {
  box-shadow: 0 0 30px #debd6c;
}
 
/*============================================================================*/
/*TABLEAU*/
#container-results {
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

#tableau {
color: white;
width: 80%;
margin: 30px auto 20px auto;
border-collapse: collapse;
table-layout: fixed; /* Fixe la largeur des colonnes */
}

table {
width: 100%;
background-color: #000000ad;
box-shadow: 0 0 20px 10px #000000ad;
}

#tableau th, #tableau td {
padding: 15px; 
text-align: center; 
}

th {
font-weight: bold; /* Texte en gras */
}

th:nth-child(1), td:nth-child(1) {
width: 10%; /* Première colonne à 10% */
}

th:nth-child(2), td:nth-child(2) {
width: 60%; /* Deuxième colonne à 60% */
}

th:nth-child(3), td:nth-child(3) {
width: 20%; /* Troisième colonne à 20% */
}

th:nth-child(4), td:nth-child(4) {
width: 10%; /* Dernière colonne à 10% */
}

.cellTour {
font-weight: bold;
font-size: 40px;
}
.cellCharacs {
display: flex;
justify-content: space-around;
filter: brightness(0.7); /* 70% de luminosité */
}

.cellBoss {
display: flex;
flex-direction: column;
align-items: center;
}

#tableau img {
width: 100px;
height: 100px;
object-fit: cover;
object-position: top;
border-radius: 10px;
overflow: hidden;
}

.Victoire {
box-shadow: 0 0 30px 5px green;
border: 1px solid green;
border-radius: 10px;
padding: 5px;
}


.Défaite {
box-shadow: 0 0 30px 5px red;
border: 1px solid red;
border-radius: 10px;
padding: 5px;
}

.Abandon {
box-shadow: 0 0 30px 5px purple;
border: 1px solid purple;
border-radius: 10px;
padding: 5px;
}

/* Style commun pour les boutons */
#filter-buttons 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#filter-buttons button {
  background-color: #000000ad;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 20px 10px #000000ad;
}

#filter-buttons button:hover {
  background-color: #999999ad;
  box-shadow: 0 0 20px 10px #999999ad;
  color: black;
}

#filter-buttons button.active {
  background-color: #999999ad; 
  box-shadow: 0 0 20px 10px #999999ad;
  color: black;
}           
                

/*============================================================================*/
/* RESTART */

#refresh {
width: 200px;
margin: 20px;
background-color: #000000ad;
border-radius: 5px;
box-shadow: 0 0 20px 10px #000000ad;
border: none;
cursor: pointer;
color:white;
border: 1px solid rgba(255, 255, 255, 0.603);
padding: 5px;

}

#refresh:hover {
background-color: #000000ad;
box-shadow: 0 0 20px 10px #999999ad;
}


#popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fond transparent foncé */
display: none; /* Caché par défaut */
justify-content: center;
align-items: center;
z-index: 1000;
}

.popup-content button {
margin: 10px;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.popup-content button:hover {
background-color: #ddd;
}

#popup.popup-visible {
display: flex; /* Affiche le pop-up */
}



/* Ajouter un effet de flou à la page lorsqu'un pop-up est visible */
body.popup-active {
  filter: blur(5px);
  pointer-events: none;
}

#popup-rules {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond transparent foncé */
  display: flex; /* Visible au chargement */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  overflow-y: auto; /* Scroll si le texte dépasse */
  max-height: 80%; /* Limite la hauteur */
}

#popup-rules h2 {
  text-align: center;
}

#popup-rules .popup-content {
  text-align: start;
}

.popup-content p {
  margin-bottom: 20px;
  line-height: 1.6;
  white-space: pre-line;
  padding: 10px;
}

.popup-content button {
  margin: 10px auto 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #000000ad;
  color: white;
  display: block;
}

.popup-content button:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 1600px) {
  #list-charac{
    flex-direction: column;
  }

  #player
  {
    width: 100%;
    min-width: 200px;
  }
  
  #big-vs {
    width: 100%;
  }
  #boss
  {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .duo {
    flex-direction: column;
    width: 100%;
  }

    .user-card 
    {
      width: 100%;
      height: 400px;
    }
}
