/*RESET CSS*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  
/*============================================================================*/
/*BODY*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;
  background-image: url('../img/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/*============================================================================*/
/*HEADER*/
header {
  color: white;
  padding: 20px;
}

/*============================================================================*/
/*MAIN*/

main {
  display: flex;
  flex-direction: column;
}

#list-charac {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
} 


/*============================================================================*/
/*Personnages*/
#player {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start;
  flex-direction: column;
}


.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  width: 300px;
  height: 400px;
}

.duo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*============================================================================*/
/*Card de perso*/
.user-card {
    position: relative;
    height: 100%;
    width: 80%;
    overflow: hidden;
    border-radius: 150px;
}
  
.user-photo {
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: visible; 
}
  
.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
}
  
.user-photo .user-nom {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 2;
}
  
.user-photo .extra-img {
    position: absolute;
    bottom: -1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80px; 
    height: auto;
    z-index: 3; 
}
  
.user-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
  
.user-card:hover .user-photo img,
.user-card:hover .user-photo .user-nom {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
  
.user-card:hover .user-info {
    opacity: 1;
    visibility: visible;
}

/*============================================================================*/
  /*BOUTON VS*/
  #big-vs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 10px;
  }
  
  #big-vs img {
    width: 200px;
    height: 200px;
  }
  
  #btn-play {
    background-color: #000000ad;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px #000000ad;
    border: none;
    cursor: pointer;
    
  }
  
  #btn-play:hover {
    background-color: #000000ad;
    box-shadow: 0 0 20px 10px #999999ad;
  }
  
  #btn-play:disabled {
    background-color: #999999ad;;
    cursor: not-allowed;
  }
  
  #btn-play:disabled:hover {
    box-shadow: 0 0 20px 10px #000000ad;
  }

  /*============================================================================*/
  /*BOSS*/
  #boss {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     width: 600px;
     min-height: 600px;
  }
  
  #boss-card {
    height: 500px;
    width: auto;
    background-color: #000000ad;
    box-shadow: 0 0 20px 10px #000000ad;
  }

  #boss-card .user-nom{
    background-color: #000000ad;
    box-shadow: 0 0 20px 10px #000000ad;
  }

  #boss-card .user-photo {
    width: 500px;
  }

  /*============================================================================*/
  /*Boutons sous Boss*/
  #container-btn button {
    background-color: #000000ad;
    color:white;
    padding: 10px 20px 10px 20px;
    margin: 40px 10px 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
  }

  #btn-victoire {
    box-shadow: 0 0 30px 5px green;
    border: 1px solid green;
  }

  #btn-victoire:hover {
    background-color: green;
  }
  
  #btn-defaite {
    box-shadow: 0 0 30px 5px red;
    border: 1px solid red;
  }

  #btn-defaite:hover {
    background-color: red;
  }

  #btn-abandon {
    box-shadow: 0 0 30px 5px purple;
    border: 1px solid purple;
  }

  #btn-abandon:hover {
    background-color: purple;
  }

  /*============================================================================*/
  /*ELEMENTS*/
  /*BASIQUE*/
  .Basique {
    box-shadow: 0 0 30px 5px #c8a079;
  }

  .Basique .user-nom {
    box-shadow: 0 0 30px #c8a079;
  }

  /*PYRO*/
  .Pyro {
    box-shadow: 0 0 30px 5px #EC4923;
  }

  .Pyro .user-nom {
    box-shadow: 0 0 30px #EC4923;
  }

  /*HYDRO*/
  .Hydro {
    box-shadow: 0 0 30px 5px #00BFFF;
  }

  .Hydro .user-nom {
    box-shadow: 0 0 30px #00BFFF;
  }

  /*ANEMO*/
  .Anemo {
    box-shadow: 0 0 30px 5px #359697;
  }

  .Anemo .user-nom {
    box-shadow: 0 0 30px #359697;
  }

  /*ELECTRO*/
  .Electro {
    box-shadow: 0 0 30px 5px #945dc4;
  }

  .Electro .user-nom {
    box-shadow: 0 0 30px #945dc4;
  }

  /*DENDRO*/
  .Dendro {
    box-shadow: 0 0 30px 5px #608a00;
  }

  .Dendro .user-nom {
    box-shadow: 0 0 30px #608a00;
  }

  /*CRYO*/
  .Cryo {
    box-shadow: 0 0 30px 5px #4682B4;
  }

  .Dendro .user-nom {
    box-shadow: 0 0 30px #4682B4;
  }

  /*GEO*/
  .Geo {
    box-shadow: 0 0 30px 5px #debd6c;
  }

  .Geo .user-nom {
    box-shadow: 0 0 30px #debd6c;
  }
   

/*TABLEAU*/

#container-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tableau {
  background-color: #000000ad;
  box-shadow: 0 0 20px 10px #000000ad;
  color: white;
  width: 80%;
  margin: 30px auto 20px auto;
  border-collapse: collapse;
  table-layout: fixed; /* Fixe la largeur des colonnes */
}

table {
  width: 100%;
}

#tableau th, #tableau td {
  padding: 15px; 
  text-align: center; 
}

th {
  font-weight: bold; /* Texte en gras */
}

th:nth-child(1), td:nth-child(1) {
  width: 10%; /* Première colonne à 10% */
}

th:nth-child(2), td:nth-child(2) {
  width: 60%; /* Deuxième colonne à 60% */
}

th:nth-child(3), td:nth-child(3) {
  width: 20%; /* Troisième colonne à 20% */
}

th:nth-child(4), td:nth-child(4) {
  width: 10%; /* Dernière colonne à 10% */
}

.cellTour {
  font-weight: bold;
  font-size: 40px;
}
.cellCharacs {
  display: flex;
  justify-content: space-around;
}

.cellBoss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tableau img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  overflow: hidden;
}

.Victoire {
  box-shadow: 0 0 30px 5px green;
  border: 1px solid green;
  border-radius: 10px;
  padding: 5px;
}


.Défaite {
  box-shadow: 0 0 30px 5px red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;
}

.Abandon {
  box-shadow: 0 0 30px 5px purple;
  border: 1px solid purple;
  border-radius: 10px;
  padding: 5px;
}


#refresh {
  width: 10%;
  margin: 20px;
  background-color: #000000ad;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px #000000ad;
  border: none;
  cursor: pointer;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.603);
  padding: 5px;
  
}

#refresh:hover {
  background-color: #000000ad;
  box-shadow: 0 0 20px 10px #999999ad;
}


#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond transparent foncé */
  display: none; /* Caché par défaut */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup-content button:hover {
  background-color: #ddd;
}

#popup.popup-visible {
  display: flex; /* Affiche le pop-up */
}

